.frame {
  border: 1px solid grey;

  padding: 20px;
  border-radius: 5px;
}

h1 {
  margin: 0 auto;
  font-size: 20px;
}

.right {
  text-align: right;
}

li {
  list-style: none;
  text-transform: capitalize;
}
li,
.grey {
  color: darkgrey;
}
.list {
  font-size: 14px;
  position: relative;
  right: 70px;
}
.number {
  font-size: 40px;
}
.pose {
  position: relative;
  right: 60px;
  top: 6px;
}
.cels {
  font-size: 14px;
  position: relative;
  bottom: 20px;
  right: 10px;
}
.post {
  position: relative;
  right: 20px;
  text-align: right;
}
.far {
  position: relative;
  bottom: 46px;
  left: 12px;
}
.wrapper {
  max-width: 700px;
  margin: 20px auto;
}
