li {
  color: grey;
  list-style: none;
  font-weight: 200;
}
li:first-letter {
  text-transform: capitalize;
}
img {
  margin-right: 10px;
}
h1 {
  font-size: 20px;
  font-weight: 400;
}
.wed-temp .small {
  position: relative;
  top: -32px;
}
.wed-temp strong {
  color: black;
  font-size: 50px;
  font-weight: 400;
  line-height: 62px;
}
.day {
  line-height: 12px;
}
.prost {
  margin-left: -30px;
}
.righty {
  text-align: right;
}

.list {
  font-size: 12px;
}
.frame {
  max-width: 650px;
  margin: 30px auto;
}
.wrapper {
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
